.license {
    font-size: 7px;
    padding: 0 16px 8px 16px;
}

.buttonthumbnail {
    --size: 32px;
}

.syncbuttontext {
    width:150;
    margin:0 auto;
}

.logging {
    font-size: 12px;
}

.synctime {
    width:100%;
    text-align: right;
    padding: 12px 16px 0 16px;
    font-size: 12px;
}
